{% extends 'layout.html'%}
{% block body %}
<form action="/add_es" method="post">
    <ul>
     <li>
       <label for="Codigo">Codigo: </label>
       <input type="text" name="codigo">
     </li>
     <li>
       <label for="">Nombre: </label>
       <input type="text"  name="nombre">
     </li>
     <li>
       <label for="msg">Duracion: </label>
       <input type="text"  name="duracion">
     </li>
    </ul>
    <button class="btn-primary">submit</button>
   </form>

   {% for vis in vista %}
   <div class="card mb-1 bg-black text-white">
     
     <div class=" card-body py-1 px-3">
       <div class=" col-sm-8 d-flex justify-content-between align-items-center ">
         <p class="col-sm-2 card-text h6">{{ vis.codigo }}</p>
         <h5 class="col-sm-3 card-text h6">{{ vis.nombre }}</h5>
         <p class="col-sm-3 card-text h6">{{ vis.duracion }}</p>
       </div>
     </div>
   </div>
 {% endfor %}

{% endblock %}